# Compiled Lua sources
luac.out

# Prerequisites
*.d

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf
*.slo
*.lo

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp
*.lai

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
